In [1]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

file = "GCB2022v27_MtCO2_flat.csv"
code_file = "codes.csv"
# Load the CSV file
df = pd.read_csv(file)

# Renaming coulums for easier transfer to Database
df = df.rename(columns={df.columns[1]: 'Country_Code'})
df = df.rename(columns={df.columns[10]: 'Per_Capita'})

# Cleaning up the data by removing the years that contains no data by the total amount of emmissons.
if "Total" in df.columns:  
    garbage_data = df[df["Total"] == 0].index
    df.drop(garbage_data, inplace=True)

# Replace NaN values with 0
df.fillna(0, inplace=True)


df.to_csv('air_super.csv', index=False)

In [11]:
# Looking at the dtypes of the csv file and dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21897 entries, 199 to 63103
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       21897 non-null  object
 1   Country_Code  21897 non-null  object
 2   Year          21897 non-null  int64
 3   Total         21897 non-null  float64
 4   Coal          21897 non-null  float64
 5   Oil           21897 non-null  float64
 6   Gas           21897 non-null  float64
 7   Cement        21897 non-null  float64
 8   Flaring       21897 non-null  float64
 9   Other         21897 non-null  float64
 10  Per_Capita    21897 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 2.0+ MB

In [13]:
import pandas as pd

# Load the CSV files
df1 = pd.read_csv(code_file)  # This contains the country codes
df2 = pd.read_csv('air_super.csv')  # This contains the emissions data

# Merge the dataframes based on the 'name' column in df1 and 'Country' column in df2
df2 = pd.merge(df2, df1[['name', 'country-code']], left_on='Country', right_on='name', how='left')

# Save the updated DataFrame to a new CSV
df2.to_csv('air_super_with_codes.csv', index=False)

In [15]:
import pandas as pd

# Load the newly created file with country codes
df = pd.read_csv('air_super_with_codes.csv')

# Filter the data for the year 2020
df_2020 = df[df['Year'] == 2020]

# Check for NaN values in the 'country-code' column for the year 2020
countries_with_nan_2020 = df_2020[df_2020['country-code'].isna()]

# Display the rows with NaN values in the 'country-code' column for 2020
print(countries_with_nan_2020[['Country', 'country-code', 'Year']])

                                 Country  country-code  Year
2462   Bonaire, Saint Eustatius and Saba           NaN  2020
2819              British Virgin Islands           NaN  2020
3561                          Cape Verde           NaN  2020
4895                      Czech Republic           NaN  2020
5008                         North Korea           NaN  2020
5110    Democratic Republic of the Congo           NaN  2020
6220                      Faeroe Islands           NaN  2020
6250    Micronesia (Federated States of)           NaN  2020
9235                                Iran           NaN  2020
10104                             Kosovo           NaN  2020
10416                               Laos           NaN  2020
13078                        Netherlands           NaN  2020
13818     Occupied Palestinian Territory           NaN  2020
14581                            Bolivia           NaN  2020
15214                        South Korea           NaN  2020
15384                            Moldova           NaN  2020
15934                             Russia           NaN  2020
16069                       Saint Helena           NaN  2020
18039                          Swaziland           NaN  2020
18478                              Syria           NaN  2020
18604                             Taiwan           NaN  2020
19390                             Turkey           NaN  2020
20201                     United Kingdom           NaN  2020
20273                           Tanzania           NaN  2020
20495                                USA           NaN  2020
20926                          Venezuela           NaN  2020
21088          Wallis and Futuna Islands           NaN  2020
21623            International Transport           NaN  2020
21895                             Global           NaN  2020

In [21]:
import pandas as pd

# Dictionary with countries and their corresponding numeric country codes
country_code_dict = {
    "Bonaire, Saint Eustatius and Saba": 630,
    "British Virgin Islands": 92,
    "Cape Verde": 132,
    "Czech Republic": 203,
    "North Korea": 408,
    "Democratic Republic of the Congo": 180,
    "Faeroe Islands": 234,
    "Micronesia (Federated States of)": 583,
    "Iran": 364,
    "Kosovo": 383,  # Non-ISO country code
    "Laos": 418,
    "Netherlands": 528,
    "Occupied Palestinian Territory": 275,
    "Bolivia": 68,
    "South Korea": 410,
    "Moldova": 498,
    "Russia": 643,
    "Saint Helena": 654,
    "Swaziland": 748,  # Swaziland is now Eswatini
    "Syria": 760,
    "Taiwan": 158,
    "Turkey": 792,
    "United Kingdom": 826,
    "Tanzania": 834,
    "USA": 840,
    "Venezuela": 862,
    "Wallis and Futuna Islands": 876
}

# Load the DataFrame from the file
df = pd.read_csv('air_super_with_codes.csv')

# Update the 'country-code' column using the dictionary (applies to all years)
df['country-code'] = df['Country'].map(country_code_dict).fillna(df['country-code'])

# Convert 'country-code' column to integers (nullable Int64 for safety)
df['country-code'] = df['country-code'].astype('Int64')

# Drop the 'name' column
df = df.drop(columns=['name'])

# Save the updated DataFrame to a new CSV file
df.to_csv('air_super_with_codes_updated.csv', index=False)

# Display the updated rows where 'country-code' was previously NaN
print(df[df['Country'].isin(country_code_dict.keys())][['country-code', 'Year']])

       country-code  Year
2369            630  1926
2370            630  1927
2371            630  1928
2372            630  1929
2373            630  1930
...             ...   ...
21085           876  2017
21086           876  2018
21087           876  2019
21088           876  2020
21089           876  2021

[2849 rows x 2 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21897 entries, 0 to 21896
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       21897 non-null  object
 1   Country_Code  21897 non-null  object
 2   Year          21897 non-null  int64
 3   Total         21897 non-null  float64
 4   Coal          21897 non-null  float64
 5   Oil           21897 non-null  float64
 6   Gas           21897 non-null  float64
 7   Cement        21897 non-null  float64
 8   Flaring       21897 non-null  float64
 9   Other         21897 non-null  float64
 10  Per_Capita    21897 non-null  float64
 11  country-code  21215 non-null  Int64
dtypes: Int64(1), float64(8), int64(1), object(2)
memory usage: 2.0+ MB